DB_USER=seu_usuario
DB_HOST=seu_host_postgresql
DB_NAME=seu_banco
DB_PASSWORD=sua_senha
DB_PORT=5432
JWT_SECRET=sua_chave_jwt
JWT_REFRESH_SECRET=sua_chave_refresh
EMAIL_USER=seu_email@gmail.com
EMAIL_PASS=sua_app_password
TOKEN_EXPIRATION=1h
APP_NAME=BarberShop
PORT=3001
